VITE_BASE_PATH=/
VITE_AUTH_ENABLED=false
VITE_API_URL=https://localhost:5050
VITE_OAUTH_CLIENT_ID=beehive
VITE_AUTH_URL=https://localhost:5050/auth
VITE_OAUTH_REDIRECT_URI=http://localhost:3021/auth/callback
VITE_OPENAPI_CATALOG_URL=https://localhost:5050/openapi/catalog
VITE_OPENAPI_AUTHORIZED_ORIGINS=
