.docsContainer {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
}

.navContainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.operationCard {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}

.schemaCard {
  background-color: light-dark(var(--mantine-color-white), #1e1e1e);
}
